body{
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: sans-serif;
  padding: 20px;
}
.main{
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 20px;
    max-width: 500px;
}

h1,h2,p{
    text-align: center;
}

hr{
    height: 2px;
    background-color: brown;
    border-color: brown;
    border-width: 1px;
    border-radius: 20%;
}
a{
    color: black;
}
a:visited,a:hover{
    color: black;
}
a:active,a:hover{
    color:brown;
}
.item p{
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 18px;
}
.coffee,.dessert{
    text-align: left;
    width: 75%;
}
.prise{
    text-align: right;
    width: 25%;
} 
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-size: 40px;
    margin-bottom: 16px;
    margin-top: 0;
}
.e{
    font-style: italic;
}
h2 {
    font-size: 32px;
    margin-bottom: 12px;
  }
  h1, h2 {
    font-family: Impact, serif;
  }
.bottom{
    margin-top: 15px;
    margin-bottom: 16px;
}
.up{
    margin-top: 20px;
    margin-bottom: 16px;
}
.foot{
    margin-bottom: 5px;
}